<!--<div class="btn btn-primary" routerLink="/my-profile">go to my profile...</div>-->
<app-nav-bar></app-nav-bar>
<header class="masthead" style="background-image:url('../../assets/img/home-bg.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>Explore</h1></div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid" style="max-width:550px;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 shadow-sm borderr" type="text" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchbar">
        <div class="input-group-append">
          <button style="width:5rem" class="btn btn-outline-b btn-block shadow-sm" (click)="search(this.searchbar)"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="post-preview" *ngFor="let blog of blogs | orderBy: '-createdAt'">
            <h2 class="post-title" (click)="gotoblog(blog.blogId)">{{blog.title}}</h2>
            <div class="post-subtitle">{{blog.content}}</div>
          <p class="post-meta">Posted by&nbsp;<a (click)="goToUser(blog.users.userId)">{{blog.users.name}}</a> on {{blog.createdAt}}</p>
          <hr>
        </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
        </ul>
        <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Brand 2018</p>
      </div>
    </div>
  </div>
</footer>
