h2:hover{
  cursor: pointer;
  color: #0f6674;
}
h6:hover{
  cursor: pointer;
  color: royalblue;
  text-decoration: underline;
}
.btn-outline-b{
  background-color: white;
  border: 1px solid #6450CF;
  color: #6450CF;
  border-radius: 50px;
}
.btn-outline-b:hover{
  background-color: #6450CF;
  color: white;
}
