//.div1
//{
//  background-color: #013ca7;
//  padding:98.5px;
//}
//
//.block
//{
//  background-color:  #003382;
//  margin-top: 20px;
//  margin-left: 300px;
//  box-shadow: 2px 2px 5px 0px #003382;
//}
//.form-align
//{
//  margin-left: 60px;
//}
//.navbar-dark .navbar-nav .nav-link
//{
//  color: white;
//
//}
//
//.active
//{
//  border-bottom: 2px solid #d5ae9a;
//}
//.nav-item
//{
//  align-items: center;
//  color: white;
//  margin-right: 35px;
//}
//
//.green-head
//{
//  color: #84d72c;
//  font-size: 20px;
//  font-weight: bold;
//}
//
//.list-group-item
//{
//  background-color: #1d2331;
//}
//
//hr
//{
//  width: 72px;
//  border:1px solid #6450cf;
//
//}
//.card-title
//{
//  font-family: 'Montserrat', sans-serif;
//}
//
//
.fontt{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
hr
{
  width: 100%;
  border:1px solid #6450cf;
}

.radius{
  border-radius: 2rem;
}

.btn-outline-b{
  border: 1px solid #6450CF;
  color: #6450CF;
  border-radius: 50px;
}
.btn-outline-b:hover{
  background-color: #6450CF;
  color: white;
}
