<div class="container p-5 shadow mt-4 bg-white radius" style="width: 500px;margin: auto;">
  <form>
    <h2 class="h2 fontt">Sign Up</h2>
    <p class="fontt">Please fill in this form to create an account!</p>
    <hr>
    <div class="form-group" [class.has-error]="nameControl.invalid && nameControl.touched" [class.has-success]="nameControl.valid">
      <label for="name" class="control-label">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name" #nameControl="ngModel">
      <span class="help-block" *ngIf="nameControl.invalid && nameControl.touched">Name is required</span>
    </div>
    <div class="form-group" [class.has-error]="emailControl.invalid && nameControl.touched" [class.has-success]="emailControl.valid">
      <label for="email" class="control-label">Email</label>
      <input type="email" id="email" required email class="form-control" [(ngModel)]="email" name="email" placeholder="Email" #emailControl="ngModel">
      <span class="help-block" *ngIf="emailControl.invalid && emailControl.touched">Email is required</span>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" >
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" >
    </div>
    <div class="form-group">
      <label class="checkbox-inline fontt"><input type="checkbox" > I accept the <a href="" class="fontt">Terms of Use</a> &amp; <a href="" class="fontt">Privacy Policy</a></label>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-b btn-block m-2 fontt" (click)="adduser()">Sign Up</button>
    </div>
  </form>
</div>

