<div class="container my-4 py-4 text-center h1 bg-white rounded shadow-lg">Edit Blog</div>
<div class="container p-4 bg-light rounded shadow-sm">
  <form>
    <div class="form-group">
      <input type="text" class="form-control mt-5" name="title" placeholder="Category" [(ngModel)]="category" value="{{blogs.category}}">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="title" placeholder="Heading" [(ngModel)]="title" value="{{blogs.title}}">
    </div>
    <div class="form-group shadow-textarea">
      <textarea class="form-control z-depth-1" name="content" id="exampleFormControlTextarea6" rows="20" placeholder="Write here..." [(ngModel)]="content" value="{{blogs.content}}"></textarea>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch1">
      <label class="custom-control-label h6" for="switch1">Make Blog Private to Followers only..</label>
    </div>
    <button class="btn btn-primary mt-1" (click)="editblog()">Save Changes</button>
  </form>
</div>
