<!--<div class="btn btn-primary" routerLink="/my-profile">go to my profile...</div>-->
<app-nav-bar></app-nav-bar>
<header class="masthead" style="background-image:url('../../assets/img/home-bg.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>HOME</h1></div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8">
      <div *ngFor="let bloog of blogs">
        <div class="post-preview" *ngFor="let blooog of bloog">
          <a href="#">
            <h2 class="post-title">{{blooog.title}}</h2>
            <div class="post-subtitle">Problems look mighty small from 150 miles up</div>
          </a>
          <p class="post-meta">Posted by&nbsp;<a href="#">Start Bootstrap on September 24, 2018</a></p>
        </div>
        <hr>
      </div>
    </div>
  </div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
        </ul>
        <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Brand 2018</p>
      </div>
    </div>
  </div>
</footer>
